body{
    font-family: Arial, "JetBrains Mono", sans-serif;
}


.headerBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;

    background: navy;
    font-weight: bold;
    font-size: 32px;
    border: black solid 4px;
    max-height: 64px;
    width: auto;
    max-width: 1200px;
}

.headerBar *{
    flex-shrink: 1;
    width: auto;
    display: flex;
    height: auto;
}

.sideBar {
    display: flex;
    flex-direction: column;

}

.headerBar img{
    object-fit: contain;
}



.cellDescription{
    font-size: 14px;
    min-height: 0;
    margin:auto;
    width:94%;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;             /* required for line-clamp hack  */
    -webkit-line-clamp: 2;            /* CHANGE: number of lines shown */
    -webkit-box-orient: vertical;     /* required for line-clamp hack  */

}

.cellColumnContainer{
    border: solid black 2px;
    width: min(1200px, 100%);
    margin: 0 auto;
    padding: 4px;
    columns: 3 300px;
    column-gap: 1em;
}



.cellColumnContainer img{
    width: 100%;
    height: auto;
    display: block;
}

.card{
    display: flex;
    margin-bottom: 1em;
    width: 100%;
    flex-direction: column;
    border: black solid 1px;
    padding: 4px;
}

.lPrice{
    color:green;
}

.lTextBg{
    background: darkgray;
}


